/* Write your global styles here, in PostCSS syntax */
html,
:host {
  font-family: Inter, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
}

html, body {
  overflow: hidden;
  height: 100%;
  width: 100%;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
